.content {
  display: block;
  text-align: center;
}

.search {
  margin-left: auto;
  margin-right: auto;
}

.search input {
  margin-right: .5em;
  height: 40px;
  min-width: 20vw;
}

.search button {
  height: 40px;
  min-width: 5vw;
  cursor: pointer;
}

@media (max-width: 600px) {
  .content h1 {
    font-size: 25px;
  }
}